*{
  box-sizing: border-box;
}
.wrapper {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */

  /* auto-fit & auto-fill的區別 */
  /* grid-template-columns: repeat(auto-fit, 200px); */
  grid-template-columns: repeat(auto-fill, 200px);


  /* 定義gird-column欄數自動填滿，欄寬最小200px最大1fr */
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */

  
  border: 1em;
  gap: 50px;
  color: white;
}


.box{
  border: 2px rgb(117, 87, 4);
  background-color: chocolate;
  border-style: dotted;
  color: white;
  padding: 10px;
}


.item2{
  grid-area: 1/4/2/5;
}